<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div id='name'><B>Place Cursor <u>Here</u> For More Info</B></div>
<div id='popup'>All Fields Must Be Entered, Make sure your email is unique!!</div>

  

  <div class="field">
  <div id='name'> </div>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :emailAddress %><br />
    <%= f.text_field :emailAddress %>
  </div>
    <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
	
  </div>
  <div class="field"> 
   <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="field">
    <%= f.label :phoneNumber %><br />
    <%= f.text_field :phoneNumber %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
